{% extends 'admin-base.html' %} {% block title %} Admin Dashboard {% endblock %}
{% block body %}
<!-- Dashboard Page -->
<section class="page active-page" id="dashboard">
  <div class="stats-grid">
    <div class="stat-card">
      <div class="stat-icon purple"><i class="fas fa-dollar-sign"></i></div>
      <div>
        <p>Total Revenue</p>
        <h2>{{settings.currency}}0</h2>
        <small class="positive">0% this month</small>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon blue"><i class="fas fa-box"></i></div>
      <div>
        <p>Total Products</p>
        <h2 id="totalProducts">{{total_products}}</h2>
        <small class="positive"> 0 new products</small>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon orange"><i class="fas fa-shopping-cart"></i></div>
      <div>
        <p>Total Orders</p>
        <h2>{{total_orders}}</h2>
        <small class="positive">0% this month</small>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon green"><i class="fas fa-users"></i></div>
      <div>
        <p>Customers</p>
        <h2>{{total_customers - 1}}</h2>
        <small class="positive">0% this month</small>
      </div>
    </div>
  </div>
  <div class="content-grid">
    <!-- Recent orders -->
    <div class="panel">
      <div class="panel-header">
        <div>
          <h3>Recent Orders</h3>
          <p>Latest customer orders</p>
        </div>
        <a href="admin-orders"><button class="view-btn" data-page="orders">View all</button></a>
      </div>
      <div class="orders-list">
        {% for order in orders %}

        <div class="order">
          <div class="order-avatar">JT</div>
          <div class="order-info">
            <strong>{{order.user.username}}</strong>
            <small>#ORD-{{order.id}}</small>
          </div>
          <div>
            <strong>{{settings.currency}}{{order.price}}</strong>
            <small class="status shipped">{{order.status}}</small>
          </div>
        </div>

        {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
