{% extends 'second-base.html' %} {% block title %} Brand {% endblock %} {%
block body %}
<div class="circle two"></div>
<div class="circle one"></div>

<span class="mobile-filter">
  <select name="filter" id="mobile-filter">
    <option value="all">All</option>
    <option value="laptops">Laptops</option>
    <option value="phones/tablets">Phones/Tablets</option>
    <option value="accessories">Accessories</option>
    <option value="desktop">Desktop</option>
    <option value="peripharals">Peripharals</option>
    <option value="gaming">Gaming</option>
    <option value="sound">Sound</option>
    <option value="security">Security</option>
  </select>
</span>

<main class="product-detail">
    {% if products %}
  <div id="product-detail">
    <!-- Product details injected by python -->
    {% for product in products %}
      <div class="product-detail-card" id="product-detail-card">
        <img src=".{{product.image}}" alt="{{product.name}}" />
        <div>
          <p>{{product.description}}</p>
          <div hidden class="p-category">{{product.category}}</div>
          <div class="price">{{settings.currency}}{{product.current_price}}</div>
          {% if product.previous_price > product.current_price %}
          <div class="info-row"><span class="previous-price">{{settings.currency}}{{product.previous_price}}</span></div>
          {% endif %}
          <button class="btn btn-outline btn-view-brand" style="margin-bottom: 10px;" pid="{{product.id}}">View Product</button>
          <button class="btn add-to-cart-btn" pid="{{product.id}}">Add to Cart</button>
        </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <h1 align="center">NO AVAILABLE PRODUCTS ON THIS BRAND YET</h1>
  {% endif %}
</main>

{% endblock %}
