{% extends 'second-base.html' %} {% block title %} Profile {% endblock%} {%
block body %}

<!-- LOGIN CARD -->
<div class="profile-card-1">
  <!-- Logo -->
  <div class="profile-img">
    <div class="profile-picture">
      {% if user.profile_picture %}
      <img src="{{user.profile_picture}}" alt="pic" />
      {% else %}
      <i class="fa-solid fa-user"></i>
      {% endif %}
    </div>
    <h3>@{{user.username}}</h3>
  </div>
  <p class="subtitle">
    Edit personal info or <a href="profile">Edit login info</a>
  </p>

  <form class="login-info" id="login-info" method="POST">
    <div class="form-group">
      <label for="fullname"> Fullname </label>
      <div class="input-wrapper">
        <input
          type="text"
          name="fullname"
          id="fullname"
          placeholder="Enter username"
          value="{{user_info.full_name}}"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="momo-name"> Momo Name </label>
      <div class="input-wrapper">
        <input
          type="text"
          name="momo-name"
          id="momo-name"
          placeholder="Momo Name"
          value="{{user_info.momo_name}}"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="phone-num"> Phone Number </label>
      <div class="input-wrapper">
        <input
          type="tel"
          name="phone-num"
          id="phone-num"
          maxlength="10"
          minlength="10"
          required
          placeholder="Momo Name"
          value="{{user_info.phone_number}}"
        />
      </div>
    </div>

    <div class="form-group">
      <label>Region</label>
      <select name="region" id="region" required>
        <option value="greater accra region">Greater Accra</option>
        <option value="ashanti region">Ashanti</option>
        <option value="central region">Central</option>
        <option value="western region">Western</option>
        <option value="eastern region">Eastern</option>
        <option value="volta region">Volta</option>
        <option value="northern region">Northern</option>
        <option value="upper east region">Upper East</option>
        <option value="upper west region">Upper West</option>
        <option value="bono region">Bono</option>
        <option value="bono east region">Bono East</option>
        <option value="ahafo region">Ahafo</option>
        <option value="savannah region">Savannah</option>
        <option value="north east region">North East</option>
        <option value="western north region">Western</option>
        <option value="oti region">Oti</option>
      </select>
    </div>

    <div class="form-group">
      <label>Town</label>
      <select name="town" id="town" required>
        <option value="accra">Accra</option>
      </select>
    </div>

    <div class="form-group">
      <label>Address</label>
      <textarea
        name="address"
        required
        placeholder="{{user_info.address}}"
      ></textarea>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Postal Code</label>
        <input
          type="text"
          name="postal-code"
          value="{{user_info.postal_code}}"
          required
          placeholder="10001"
          minlength="4"
        />
      </div>
      <div class="form-group">
        <label>Country</label>
        <select name="country" id="country">
          <option value="ghana">Ghana</option>
        </select>
      </div>
    </div>

    <h3>Payment Method</h3>
    <select name="payment-method" id="payment-method" style="margin-bottom: 20px;">
      <option value="mtn">MTN</option>
      <option value="vodafone">VODAFONE</option>
      <option value="AIRTEL">AIRTEL</option>
    </select><br>

    <!-- submit btn-->
    <button type="submit" class="btn" id="loginBtn">Update</button>
  </form>
</div>

{% endblock %}
