{% extends 'second-base.html' %} {% block title %} Hompage {% endblock %} {%
block body %}

<div class="circle one"></div>
<div class="circle two"></div>

<!-- <div class="brand-search-bar">
    <div class="container">
      <div class="brand-search-inner">
        <label for="brand-search" class="brand-search-label">
          <svg viewBox="0 0 24 24" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="M21 21l-4.35-4.35"></path>
          </svg>
          Filter by Brand
        </label>
        <select id="brand-search" class="brand-select">
          <option value="">All Brands</option>
          {% for brand in brands %}
          <option value="{{ brand.name }}">{{ brand.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div> -->

<div class="brands-bar">
  {% for brand in brands %}
  <a href="brands/{{ brand.name }}">{{ brand.name.capitalize() }}</a>
  {% endfor %}
</div>

<!-- Hero -->
<section class="hero">
  <div class="container">
    <h1>Premium Laptops & IT Solutions</h1>
    <p>Powerful devices for work, study, and gaming</p>
    <a href="products" class="btn">Shop Now</a>
  </div>
</section>

<!-- Products -->
<section id="products" class="products">
  <div class="container">
    <h2>Featured Products</h2>
    <h3 style="background-color: rgb(255, 0, 0); border-radius: 20px; text-align: center; margin-bottom: 15px;"><a href="flash-sale" style="text-decoration: none; color: #ffff;">View All</a></h3>
    <div class="product-grid" id="product-grid">
      <!-- Products will be injected by JavaScript -->
       {% for product in products %}
        
       <div class="product-card">
         <span class="p-row"><i class="fas fa-tag" style="color: white; padding: 5px; font-size: 25px;"></i> <i class="discount-tag">-{{ round(((product.previous_price - product.current_price) / product.previous_price) * 100) }}%</i></span>
         <img src="{{product.image}}" alt="{{product.name}}" />
         <div class="info">
           <h3 class="info-row">{{product.name}}</h3>
           <div class="price">{{settings.currency}}{{product.current_price}}</div>
           <div class="price previous-price">{{settings.currency}}{{product.previous_price}}</div>
           <div>
             {% for i in range(5) %}
               {% if i < product.rating %}
                 <i class="fa-solid fa-star" style="color: yellow;"></i>
               {% else %}
                 <i class="fa-solid fa-star" style="color: gray;"></i>
               {% endif %}
             {% endfor %}
           </div>
         </div>
       </div>
       {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
