{% extends 'second-base.html' %}

{% block title %}
View orders
{% endblock %}

{% block body %}

  <div class="circle one"></div>
<div class="circle two"></div>

<main class="cart-page">
  <div class="container">
    {% if order %}
    <h1>Your Orders</h1>
    <div id="cart-items">
      {% for customer_order in order %}

      <div class="cart-item">
        <img src="{{customer_order.product.image}}" alt="{{customer_order.product.name}}" />
        <div class="details">
          <h3>{{customer_order.product.name}}</h3>
          <div class="price">{{settings.currency}}{{customer_order.product.current_price}}</div>
        </div>
        <div class="qty">
          <span id="item-quantity">x{{customer_order.quantity}}</span>
        </div>
        <div style="font-weight: 700; min-width: 80px; text-align: right">
          {{settings.currency}}{{ customer_order.product.current_price * customer_order.quantity }}
        </div>
        {% if customer_order.status == 'Pending' %}
        <div style="font-weight: 700; min-width: 80px; text-align: right; background-color: rgba(255, 208, 0, 0.623); padding: .5rem; border-radius: 15px;">
          Status: <span style="color: rgba(151, 126, 14, 0.966);">{{customer_order.status}}</span>
        </div>
        {% elif customer_order.status == 'Delivered' %}
        <div style="font-weight: 700; min-width: 80px; text-align: right; background-color: rgba(0, 255, 98, 0.616); padding: .5rem; border-radius: 15px;">
          Status: <span style="color: rgba(14, 151, 44, 0.966);">{{customer_order.status}}</span>
        </div>
        {% elif customer_order.status == 'Shipped' %}
        <div style="font-weight: 700; min-width: 80px; text-align: right; background-color: rgba(0, 153, 255, 0.616); padding: .5rem; border-radius: 15px;">
          Status: <span style="color: rgba(14, 62, 151, 0.966);">{{customer_order.status}}</span>
        </div>
        {% elif customer_order.status == 'Canceled' %}
        <div style="font-weight: 700; min-width: 80px; text-align: right; background-color: rgba(255, 0, 0, 0.616); padding: .5rem; border-radius: 15px;">
          Status: <span style="color: rgba(151, 14, 14, 0.966);">{{customer_order.status}}</span>
        </div>
        {% endif %}

      </div>

      {% endfor %}
    </div>

    {% else %}
    <h3 style="text-align: center;">You have no current orders</h3>
    {% endif %}
  </div>
</main>

{% endblock %}