{% extends 'base.html' %}

{% block title %}
    Sgin in
{% endblock %}

{% block body %}
    <!-- Background decorations -->
    <div class="circle one"></div>
    <div class="circle two"></div>
    <!-- LOGIN CARD -->
    <div class="login-card">
        <!-- Logo -->
        <div class="logo">
            <i class="fa-solid fa-lock"></i>
        </div>
        <!-- Heading -->
        <h1>SIGN UP FOR AN ACCOUNT</h1>
        <p class="subtitle">
            Sign up to create an account
        </p>
        <!-- LOGIN FORM -->
        <form id="loginForm" method="POST">
            <!-- USERNAME -->
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="username" id="username" placeholder="Enter username">
                </div>
            </div>
            <!-- EMAIL -->
            <div class="form-group">
                <label for="email">
                    Email Address
                </label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Enter your email address">
                </div>
            </div>
            <!-- PASSWORD -->
            <div class="form-group">
                <label for="password1">
                    Password
                </label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-lock"></i>
                    <input
                        type="password"
                        id="password"
                        name="password1"
                        placeholder="Enter your password"
                        required
                    >
                    <i
                        class="fa-solid fa-eye toggle-password"
                        id="togglePassword">
                    </i>
                </div>
            </div>
            <div class="form-group">
                <label for="password2">
                    Confirm password
                </label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-lock"></i>
                    <input
                        type="password"
                        id="password"
                        name="password2"
                        placeholder="Enter your password"
                        required
                    >
                    <i
                        class="fa-solid fa-eye toggle-password"
                        id="togglePassword">
                    </i>
                </div>
            </div>
            <!-- LOGIN BUTTON -->
            <button
                type="submit"
                class="login-btn"
                id="loginBtn">
                REGISTER
            </button>
        </form>
        <!-- DIVIDER -->
        <div class="divider">
            OR
        </div>
        <!-- log in -->
        <p class="register">
            Have an account?
            <a href="login">
                Log-into your account
            </a>
        </p>
    </div>
{% endblock %}